html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

.all-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.information {
  display: flex;
  flex-direction: row;
}

.todo-in {
  display: flex;
  gap: 10px;
}

.todo-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: black solid 1px;
}

.overdue-message {
  display: flex;
  height: 50px;
  align-items: center;
}
